## .NET
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates

## Visual Studio
.vs/
*.rsuser
[Dd]ebug/
[Rr]elease/

## Build results
[Bb]uild[Ll]og.*
*.VisualState.xml
TestResult.xml

## NuGet
**/packages/*
*.nupkg
**/[Pp]ackages/build/

## OS
Thumbs.db
.DS_Store
